@import '~@angular/material/theming';

@mixin sidenav-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .flex-sidenav {
    background-color: mat-color($background, background);
    color: mat-color($foreground, icon);
    .active .side-menu-icon, .active .side-menu-link {
      color: #ffffff !important;
      background-color: #F44335 !important;
    }
  }


}
