// Nabucco .3.4
// Variables
// --------------------------------------------------


//== Images
//
//## pecify custom location of images

$images-path:          "/assets/images/";

//== Colors
$primary-color: #FAE100;
$color_input_placeholder: #2a2d33;
//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff;
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$default-font-size: 14;
$html-font-size: 16;
$md-toolbar-font-size: 20;
$font-family-sans-serif:  'Roboto', sans-serif;
$font-family-roboto: Roboto;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          $default-font-size;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-base;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:          inherit;
$font-weight-extra-bold: 600;
$font-weight-bold: 500;
$font-weight-thicker: 400;
$font-weight-normal: 300;

//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
//fixes font included in bootstrap less but doesn't work for own fonts
$icon-font-path:          '../fonts/';
$icon-font-included-path:          '../assets/fonts/';
//** File name for line icons font files.
$icon-line-font-name:          "line-icons";
//** File name for all font files.
$icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
$icon-font-svg-id:        "glyphicons_halflingsregular";

//** File name for material icons font files.
$icon-material-font-name: "MaterialIcons-Regular";


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So images queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);
//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;

$nb-black: #000;
$nb-black-light: #2A2D33;
$nb-white: #FFF;
$nb-yellow: #F7E000;
$nb-gray: #F5F5F5;
$nb-gray-1: #F6F6F6;
$nb-gray-2: #F8F8F8;
$nb-green: #35AE00;
$nb-light-gray: #F2F2F2;
$nb-middle-gray: #808080;
$nb-light-gray2: #DEDEDE;

$nb-silver: #7F7F7F;

$nb-input-placeholder-gray: #BFC0C1;
$nb-search-icon-gray: #C4C4C5;

$nb-button-border: #E1E1E1;
$nb-border-color: #E8E8E8;

$nb-subtitle: #949699;

$nb-nav-menu-height: 60px;
$nb-nav-menu-item-width: 60px;
$nb-nav-menu-item-separator-color: #FBEA49;
