.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}
.flex-sidenav-container {
  display: flex;
  max-width: 330px !important;
  flex-direction: row;
  height: 100%;
}
.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
  background: rgba(0, 0, 0, .5);
}
.flexbox-item-grow {
  flex: 1; /* same as flex: 1 1 auto; */
}

.flexbox-item.content {
  background: rgba(0, 0, 255, .1);
}

.fill-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}
.fill-area-content {
  //background: rgba(0, 0, 0, .3);
  border: 1px solid #000000;
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto;
}
