$mat-dashboard-yellow: (
  50 : #fefbe0,
  100 : #fef6b3,
  200 : #fdf080,
  300 : #fcea4d,
  400 : #fbe626,
  500 : #fae100,
  600 : #f9dd00,
  700 : #f9d900,
  800 : #f8d500,
  900 : #f6cd00,
  A100 : #ffffff,
  A200 : #fffbea,
  A400 : #fff1b7,
  A700 : #ffec9d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$mat-dashboard-black: (
  50 :  #e0e0e0,
  100 : #f5f5f5,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #A6A6A6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
