@import "dashboard_palette";
// Define the default theme .
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
// A primary palette: colors most widely used across all screens and components.
$dashboard-primary: mat-palette($mat-dashboard-yellow, 500, 100, 700);
// An accent palette: colors used for the floating action button and interactive elements.
$dashboard-accent: mat-palette($mat-dashboard-black, 500, 100, 700);
// A warn palette: colors used to convey error state. The warn palette is optional (defaults to red).
$dashboard-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$dashboard-default-theme: mat-light-theme( $dashboard-primary, $dashboard-accent, $dashboard-warn);
