$mat-smiletime-white: (
  50 : #ffffff,
  100 : #f2f2f2,
  200 : #f5f5f5,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-smiletime-primary: (
  50 : #fffde0,
  100 : #fffbb3,
  200 : #fff980,
  300 : #fef64d,
  400 : #fef426,
  500 : #fef200,
  600 : #fef000,
  700 : #feee00,
  800 : #feec00,
  900 : #fde800,
  A100 : #ffffff,
  A200 : #fffef1,
  A400 : #fff9be,
  A700 : #fff6a4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$mat-smiletime-accent: (
  50 :  #ececec,
  100 : #2A2D33,
  200 : #848484,//#808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #e2e2e2,//#a6a6a6,
  A200 : #C5C6C8, //#8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #f5f5f5,
    400 : #f6f6f6,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #f2f2f2,
    A700 : #ffffff,
  )
);

